# Gradle
.gradle/
build/

gradle
gradlew
gradle.bat

# IntelliJ
*.iml
.idea

# Eclipse
.project
.classpath
.settings/

# MacOS
.DS_Store

/bin/**
/.vscode/settings.json
/build.xml
/package-lock.json
